.custom-select {
  position: relative;
  width: 286px;
  height: 100%;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.selected-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
  cursor: pointer;
}

.selected-option .icon {
  position: absolute;
  right: 20px;
  top: 27px;
  width: 14px;
  height: 14px;
  transform: translateY(-50%) rotateX(0deg);
  background-image: url('../../assets/svg/open.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.selected-option .icon.open {
  transform: translateY(-50%) rotateX(180deg) translateY(7px);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  list-style-type: none;
  z-index: 10;
}

.dropdown-item {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
